{% extends "base.html" %}
{% block title %}
    <title>劇本雲-查看相片</title>
{% endblock %}
{% block content %}
    <div class="table-responsive">
        <a href={% url 'upload_card' %}><button class="btn-primary btn">123</button></a>
<table class="table mb-0">

        <tbody>
            {% for cards in cards %}
                <tr>
                    <td>
                        {% if card.cover %}
                            <img style="width: 300px" src="{{ card.cover.url }}" alt="{{ card.title }}">
                        {% endif %}
                    </td>
                    <td>{{ card.title }}</td>
                    <td>{{ card.author }}</td>
                    <td><a href="{{ card.cover.url }}" class="btn btn-primary" target="_blank">Download</a> </td>
                    <td>
                        <form method="post" action="{% url 'class_delete_card' card.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
{% endblock %}