{% block Cardtitle %}
    <title>教室管理介面</title>
{% endblock %}
<style>
    table.table-bordered > thead > tr > th{
  border:1px solid black;
}
    table>thead>tr.team_work{
        height: 300px;
    }
</style>
{% load static %}
    <img class="d-block w-100" style="height: 10em" src="{% static "images/background.jpg"  %}">
<table class="table table-bordered">
    <thead >
    <th class="text-center"scope="col"><a href={% url 'upload_card' %} ><button type="button" class="btn">創卡</button></a> </th>
    <th class="text-center" scope="col"><a href="{% url 'card_manage' %}" class="btn">專案卡片資料庫</a></th>
    {% if request.session.user_identify == 'teacher' %}
    <th class="text-center" scope="col"><a href="{% url 'check_card' %}" class="btn">專案成果上傳</a> </th>
    <th class="text-center" scope="col"><a href="{% url 'check_group' %}" class="btn">群組管理</a> </th>
    {% endif %}
    </thead>
</table>
{% block cardcontext %}
    <div class ="table-responsive">
    <table class="table table-bordered table-dark">
        <tbody class="text-center">
            <tr class="team_work">
                {% for group_user_a in group_user %}
                    {% if group_user_a.id == request.session.user_id %}
                    <th scope="col" style="padding-bottom: 10%"><a href={% url 'check_card' %} >{{ group.group }}</a></th>
                    {% endif %}
                {% endfor %}
                     {% for up_card in up_cards %}
                         {% if up_card.group_id == group.id %}
                         {% if up_card.class_material == '1' %}
                            <th scope="col"><a href="{% url 'createcard' pk=up_card.id %}"> <h3>卡片名稱:{{ up_card.title }}</h3><img src="{{ up_card.cover.url }}" style="width: 300px;height: 300px"></a></th>
                         {% elif up_card.class_material == '2' %}
                             <th scope="col"><a href="{% url 'createcardrow' pk=up_card.id %}"> <h3>卡片名稱:{{ up_card.title }}</h3><img src="{{ up_card.cover.url }}" style="width: 300px;height: 300px"></a></th>
                         {% endif %}
                         {% endif %}
                     {% endfor %}
                        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}