{% block context %}
    <form method="POST" class="post-form">
        {% csrf_token %}
            <div class="container" style="margin-top: 5%">
                <div class="row">
                    <div class="col-md-6">
                        <img src=" {{ unit.cover.cover.url }}" width="90%">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="card-title"> 標題:</label>
                            {{ card_form.title }}
                        </div>
                        <div class="form-group">
                            <label for="card-context"> 代言人::</label>
                            {{ card_form.context }}
                        </div>
                        <div class="form-group">
                            <label for="card-context1"> 地點/時間:</label>
                            {{ card_form.context1 }}
                        </div>
                        <div class="form-group">
                            <label for="card-context2"> 應用情境:</label>
                            {{ card_form.context2 }}
                        </div>
                        <div class="form-group">
                            <label for="card-cover"> 關聯卡片:</label>
                            {{ card_form.cover }}
                        </div>

                        <div class="form-group">
                            <label for="card-author"> 作者:</label>
                            {{ card_form.author }}
                        </div>
                        <div class="form-group">
                            <label for="card-group"> 群組:</label>
                            {{ card_form.group }}
                        </div>
                        <div class="form-group">
                            <label for="card-activate"> 活動:</label>
                            {{ card_form.activate }}
                        </div>
                        <div class="form-group">
                            <label for="card-context"> 創建時間:</label>
                            {{ card_form.created_date }}
                        </div>
                        <div class="form-group">
                            <label for="card-context"> 修改時間:</label>
                            {{ card_form.published_date }}
                        </div>
                        <button type="reset" class="btn btn-danger" style="margin-right: 50%">取消</button>
                     <button type="submit" class="btn btn-success">預覽</button>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}