
{% load staticfiles %}
<div class="container">
<div class="row border border-dark rounded" id="chart3">
        <div class="col-md-6">
            <div class="row">
                 <div class="col-md-2"></div>
                <div class="col-md-4" style="margin-left: 95%;">
                    <div id="card-idea"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4" style="margin-left: 95%;">
                 <p style="font-size:30px;">作者:{{ unit.author}};</p>
                    <p style="font-size:30px;">{{ unit.group}};</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <h1 style="text-orientation: upright;writing-mode: vertical-lr;">{{ unit.title }}</h1><br>
                 </div>
                <div class="col-md-6">
                    <div id="card-img"></div>
                </div>
            </div>
        </div>
    <div class="col-md-8">
         <div class="row">
                <div class="col-md-4">
                    <div id="card-context1"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div id="card-text"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="card-context"> </div><br>
                </div>
            </div>
            <div class="row">
                <div class ="col-md-4"></div>
                <div class="col-md-8">
                    <div id="card-text1"> </div>
                </div>
            </div>
        <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <button id="btnSave" class="btn-sm btn-danger" onclick="screenshot1()">確認圖片並儲存</button>
                    <a href={% url "card_manage" %}> <button class="btn-success">至專案資料庫</button></a>
                </div>
            </div>
    </div>
</div>
</div>

</body>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    window.onload=function(){
        var wjb51=screen.width;
        var hjb51=screen.height;
        var imgw=hjb51/2;
        var imgh=hjb51/2;
        var conm=hjb51/10;
        var conw=hjb51/9;
        var conh=hjb51/27;
        var ideaw=hjb51/5;
        var ideah=hjb51/20;
        var btnm=hjb51/4;
        document.getElementById("card-img").innerHTML='<img src="/{{ unit.cover.thumbnail }}" style="float:right;width:'+imgw+'px;height:'+imgh+'px;float:left;"/>';
        document.getElementById("card-context").innerHTML='<img src="{% static "images/卡片元素-04.png" %}" style="float:right;height:'+conh+'px;width:'+conw+'px;margin-top:'+conm+'px;">';
        document.getElementById("card-context1").innerHTML='<img src="{% static "images/卡片元素-05.png" %} " style="float:right;height:'+conh+'px;width:'+conw+'px;margin-top:'+conm+'px;">';
        document.getElementById('card-text').innerHTML='<p>{{ unit.context }}</p>';
        document.getElementById('card-text1').innerHTML='<p>{{ unit.context1 }}</p>';
        document.getElementById('card-idea').innerHTML='<img src="{% static "images/卡片元素-02.png" %}" width="'+ideaw+'px;" height="'+ideah+'px;"">';
    }
    function screenshot1(){
        var wjb51=screen.width;
        var hjb51=screen.height;
        html2canvas(document.getElementById('chart3'),{
            x:100,
            y:100,
            width:wjb51,
            height:hjb51,
        }).then(canvas=> {
              var result1 = canvas.toDataURL('image/jpeg');
             $.ajax({
                type: 'POST',
                url: '/preview_card/'+{{unit.id}},
                data: { 'result1': result1},
            });
        });


    }

</script>