{% load staticfiles %}

        <div class="col-md-6" id="chart3">
            <div class="row">
                <div class="col-md-9 ">
                    <img src="{% static "images/卡片元素-02.png" %}" width="100px;" style="float:right;"><br>
                    <p style="float:right;'">作者:{{ unit.author}}</p>
                    <p style="float:right;'" id="group">{{ unit.group}};</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-2">
                    <h1 style="text-orientation: upright;writing-mode: vertical-lr;">{{ unit.title }}</h1><br>
                 </div>
                <div class="col-md-4">
                    <img src="/{{ unit.cover.thumbnail }}" style="width: 300px;height: 300px;"/>
                </div>
            </div>
            <div class="row">
        <div class="col-md-9">
            <img src="{% static "images/卡片元素-05.png" %} " style="float:right;height: 30px;width: 80px;margin-bottom: 10px">
        </div>

        <div class="col-md-3">
            {{ unit.context }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <img src="{% static "images/卡片元素-04.png" %}" style="float:right;height: 30px;width: 80px"><br>
        </div>
        <div class="col-md-3">
            {{ unit.context1 }}
        </div>
        <div class="col-md-12">
            <img src="{% static "images/卡片元素-07.png" %}" style="float:right;height: 40px;width: 180px">
        </div>
        </div>
    </div>
         <div class="col-md-6">

        </div>

<button id="btnSave" class="btn btn-danger" onclick="screenshot1()">確認圖片並儲存</button>
<a href={% url "card_manage" %}> <button class="btn-success">至專案資料庫</button></a>

</body>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    function screenshot1(){
        var wjb51=screen.width;
        var hjb51=screen.height;
        html2canvas(document.getElementById('chart3'),{
            x:wjb51/2,
            y:hjb51,
            width:500,
            height:500
        }).then(canvas=> {
              var result1 = canvas.toDataURL('image/jpeg');
             $.ajax({
                type: 'POST',
                url: '/preview_card/'+{{unit.id}},
                data: { 'result1': result1},
            });
        });
    }

</script>