{% extends "base.html" %}
{% block title %}
    <title>劇本雲-查看相片</title>
{% endblock %}
{% block content %}
    <div class="table-responsive">
        <a href={% url 'upload_card' %}><button class="btn-primary btn">上傳卡片</button></a>
    <h1>{{ request.seesion }}</h1>
<table class="table mb-0">
        <thead>
            <tr>
                <th>圖片</th>
                <th>標題</th>
                <th>作者</th>
                <th>卡片格式</th>
            </tr>
        </thead>
        <tbody>
        {% for group in group %}
            {% for card in up_cards %}
                {% if group.id == card.group_id %}
                <tr>
                    <td>
                        {% if card.cover and card.class_material == '1' %}
                            <a href="{% url 'createcard' pk=card.id %}"> <img style="width: 300px" src="{{ card.cover.url }}" alt="{{ card.title }}"></a>
                        {% elif card.cover and card.class_material == '2' %}
                            <a href="{% url 'createcardrow' pk=card.id %}"> <img style="width: 300px" src="{{ card.cover.url }}" alt="{{ card.title }}"></a>
                        {% endif %}

                    </td>
                    <td>{{ card.title }}</td>
                    <td>{{ card.author }}</td>
                    {% if card.class_material == '1' %}
                        <td>直式</td>
                    {% elif card.class_material == '2' %}
                        <td>橫式</td>
                    {% endif %}
                    <td><a href="{{ card.cover.url }}" class="btn btn-primary" target="_blank">下載圖片</a> </td>
                    <td>
                        <form method="post" action="{% url 'class_delete_card' card.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">刪除</button>
                    </form>
                    </td>

                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>
</body>
{% endblock %}