{% block create_group %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                         <label for="group_name"> 創建群組名稱:</label>
                        {{ group.group }}
                        <div class="form-group">
                            <label for="user_id"> 選擇學員:</label>
                                {% for user_a1 in user_a %}
                                <input type="checkbox" value="{{ user_a1.id }}" name="check_box_list">{{ user_a1.name }}
                            {% endfor %}
                        </div>
                    <button type="submit" class="btn btn-success">建立</button>
                    </form>
                </div>
        </div>
    </div>
{% endblock %}
